{% extends "index.html" %}
{% block meta %}
<title>Product Store</title>
{% endblock %}
{% block content %}
<div class="text-center mt-5">
    <h1>Product Store</h1>
</div>

<div class="container m-5">
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col-1">#</th>
                    <th scope="col-2">Product Name</th>
                    <th scope="col-2">Product Price</th>
                    <th scope="col-5">Product Description</th>
                    <th scope="col-2">Product Name</th>
                </tr>
            </thead>
            <tbody>
                {% for dx in data %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{dx.name}}</td>
                    <td>{{dx.price}}</td>
                    <td>{{dx.description}}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/edit-product-{{dx.id}}/">Edit</a>
                        <a class="btn btn-danger btn-sm" href="/delete-product-{{dx.id}}/">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/add-product/" class="btn btn-primary btn-sm">Add Product</a>
    </div>
</div>
{% endblock %}